In [2]:
import pandas as pd

C:\Users\benth\AppData\Local\Temp\ipykernel_12700\4080736814.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df = pd.read_csv("data\\healthcare-dataset-stroke-data.csv")
df = pd.DataFrame(df)

In [4]:
print(df)

         id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]

In [5]:
df.drop(columns='ever_married', inplace = True)
print(df.columns)

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'work_type',
       'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status',
       'stroke'],
      dtype='object')

In [6]:
print(df.columns)

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'work_type',
       'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status',
       'stroke'],
      dtype='object')

In [10]:
df.drop(columns='hypertension', inplace = True)
print(df.columns)

Index(['id', 'gender', 'age', 'heart_disease', 'work_type', 'Residence_type',
       'avg_glucose_level', 'bmi', 'smoking_status', 'stroke'],
      dtype='object')

In [11]:
df.drop(columns='work_type', inplace = True)
print(df.columns)

Index(['id', 'gender', 'age', 'heart_disease', 'Residence_type',
       'avg_glucose_level', 'bmi', 'smoking_status', 'stroke'],
      dtype='object')

In [12]:
df.drop(columns='Residence_type', inplace = True)
print(df.columns)

Index(['id', 'gender', 'age', 'heart_disease', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke'],
      dtype='object')

In [13]:
df.drop(columns='avg_glucose_level', inplace = True)
print(df.columns)

Index(['id', 'gender', 'age', 'heart_disease', 'bmi', 'smoking_status',
       'stroke'],
      dtype='object')

In [14]:
df.drop(columns='bmi', inplace = True)
print(df.columns)

Index(['id', 'gender', 'age', 'heart_disease', 'smoking_status', 'stroke'], dtype='object')

In [15]:
df.drop(columns='smoking_status', inplace = True)
print(df.columns)

Index(['id', 'gender', 'age', 'heart_disease', 'stroke'], dtype='object')

In [16]:
df.head

<bound method NDFrame.head of          id  gender   age  heart_disease  stroke
0      9046    Male  67.0              1       1
1     51676  Female  61.0              0       1
2     31112    Male  80.0              1       1
3     60182  Female  49.0              0       1
4      1665  Female  79.0              0       1
...     ...     ...   ...            ...     ...
5105  18234  Female  80.0              0       0
5106  44873  Female  81.0              0       0
5107  19723  Female  35.0              0       0
5108  37544    Male  51.0              0       0
5109  44679  Female  44.0              0       0

[5110 rows x 5 columns]>

In [17]:
df.to_csv("new_stroke_data.csv")